# iscsiadm -m discovery -t sendtargets -p {{ hostvars[groups['primary_storage_hosts_iscsi'][0]]['ansible_ssh_host'] }}
- name: log out of all previous iscsi sessions
  shell: iscsiadm -m session -u

- name: Discover iSCSI targets
  open_iscsi:
    show_nodes: yes
    discover: yes
    portal: "{{ hostvars[groups['primary_storage_hosts_iscsi'][0]]['ansible_ssh_host'] }}"

# iscsiadm -m node -T {{ env_iscsi_target }}:{{ env_uuid }} --login
- name: Login to iSCSI target
  open_iscsi:
    login: yes
    target: "{{ env_iscsi_target }}:{{ env_uuid }}"

- name: Check iscsi sessions
  shell: iscsiadm -m session
  register: iscsisessions

- name: Print sessions
  debug: msg={{ iscsisessions.stdout }}

- name: Install all CLVM prereqs
  yum: name={{ item }} state=present
  with_items:
    - fence-agents-all
    - lvm2-cluster
    - pcs

- name: Start pcsd
  service:
    name: pcsd
    state: started
    enabled: yes

- name: Delete all previous clusters
  shell: pcs cluster destroy --all
  ignore_errors: yes

- name: Reset hacluster password
  shell: echo {{ kvm_password }} | passwd --stdin hacluster

- name: Configure LVM for cluster disks
  shell: lvmconf --enable-cluster

- name: Capture KVM hostnames
  set_fact:
    kvmhostlist: |
      {%- for item in groups[ 'kvm_hosts' ] -%}
        {{ item }}
        {%- if not loop.last -%}{{ " " }}{%- else -%}{%- endif -%}
      {%- endfor -%}
  when: inventory_hostname == "{{ groups['kvm_hosts'][0] }}"

- name: Print list of KVM hosts
  debug: msg="KVM hosts are {{ kvmhostlist | trim }}"
  when: inventory_hostname == "{{ groups['kvm_hosts'][0] }}"

# First node only
- block:
  - name: Auth all cluster nodes
    shell: pcs cluster auth {{ kvmhostlist | trim }} -u hacluster -p {{ kvm_password }}

  - name: Create cluster
    shell: pcs cluster setup --start --name {{ env_name_clean }}-clu1 {{ kvmhostlist | trim }}

  - name: Enable cluster
    shell: pcs cluster enable --all

  - name: Configure STONITH
    shell: pcs stonith create scsi fence_scsi pcmk_host_list="{{ kvmhostlist | trim }}" pcmk_monitor_action="metadata" pcmk_reboot_action="off" meta provides="unfencing" devices="/dev/sdb"

  - name: Configure quorum policy
    shell: pcs property set no-quorum-policy=freeze

  - name: Configure DLM
    shell: pcs resource create dlm ocf:pacemaker:controld op monitor interval=30s on-fail=fence clone interleave=true ordered=true

  - name: Configure CLVM
    shell: pcs resource create clvmd ocf:heartbeat:clvm op monitor interval=30s on-fail=fence clone interleave=true ordered=true

  - name: Configure constraints
    shell: pcs constraint order start dlm-clone then clvmd-clone

  - name: Configure constraints
    shell: pcs constraint colocation add clvmd-clone with dlm-clone

  - name: Register all iscsi mounted disks
    shell: iscsiadm -m session -P3 | grep sd | cut -d ' ' -f 4 | cut -f 1 | grep -v sdb
    register: iscsiluns

  - name: Print all luns
    debug: msg="lun is {{ item }}"
    with_items:
      - "{{ iscsiluns.stdout_lines }}"
    ignore_errors: true

  - name: pvcreate all disks
    shell: pvcreate /dev/{{ item }}
    with_items:
      - "{{ iscsiluns.stdout_lines }}"
    ignore_errors: true

  - name: vgcreate all disks
    shell: vgcreate -cy {{ item.0 }} /dev/{{ item.1 }}
    with_together:
      - "{{ env_pripools }}"
      - "{{ iscsiluns.stdout_lines }}"

  when: inventory_hostname == "{{ groups['kvm_hosts'][0] }}"

# Additional nodes
#- block:
#
#  - name: vgcreate all disks
#    shell: vgcreate -cy {{ item.0 }} /dev/{{ item.1 }}
#    with_together:
#      - "{{ env_pripools }}"
#      - "{{ iscsiluns.stdout_lines }}"
#
#  when: inventory_hostname != "{{ groups['kvm_hosts'][0] }}"

# https://access.redhat.com/solutions/638843
- name: Ensure network manager is disabled - important
  service:
    name: NetworkManager
    state: stopped
    enabled: no
