---
- name: Add iSCSI primary storage luns
  include: ./addluns.yml
  when: ( storage_action == "addprimary" ) and ( "primary_storage_hosts_iscsi" in group_names )

- name: Remove iSCSI primary storage luns
  include: ./removeluns.yml
  when: ( storage_action == "removeprimary" ) and ( "primary_storage_hosts_iscsi" in group_names )

- name: Configure iSCSI on CentOS7 KVM hosts
  include: ./centos7_iscsi.yml.yml
  when: ( storage_action == "kvmiscsi" ) and ( "kvm_hosts" in group_names ) and ( ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' ) and ( ansible_distribution_major_version | int > 6 )

- name: Configure iSCSI on CentOS6 KVM hosts
  include: ./centos6_iscsi.yml
  when: ( storage_action == "kvmiscsi" ) and ( "kvm_hosts" in group_names ) and ( ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' ) and ( ansible_distribution_major_version | int < 7 )

#- name: Configure iSCSI on XenServer hosts
#  include: ./xsiscsi.yml
#  when: ( storage_action == "xsiscsi" ) and ( "xenserver_hosts" in group_names )

#- name: Configure iSCSI on ESXi hosts
#  include: ./esxiiscsi.yml
#  when: ( storage_action == "esxiiscsi" ) and ( "esxi_hosts" in group_names )
